body {
  margin: 0;
  font-family: "helvetica neue";
  background: url('./pics/lotus_pic.jpg') no-repeat;
}

#main {
  overflow: auto;
  background: rgba(0, 0, 0, 0.6);
  height: 100vh;
}

a {
  color: lightblue;
  text-decoration: none;
}

.active {
  background: lightblue;
}

.navbar-links a.active-link {
  color: white;
}

.navbar-links {
  float: left;
  width: 45%;
  text-align: center;
  padding: 10px 0 10px 0;
}

.navbar-links a {
  color: lightblue;
}

.nav-bar {
  border-bottom: 1px solid lightblue;
  position: fixed;
  top: 0;
  width: 100%;
  padding-left: 20px;
  background: rgba(0,0,0,0.6);
}

.hide {
  display: none;
}

.profile-pic {
  max-width: 100%;
  height: auto;
}

.brief-desc {
  width: 45%;
  float: left;
  background: white;
  padding: 20px;
  border-radius: 10px;
  margin: 50px 0 10px 20px;
}

.info {
  width: 40%;
  float: left;
  margin-top: 60px;
}

.info-lists {
  margin-left: 20px;
}

.info-item {
  text-align: center;
  background: lightblue;
  border-radius: 10px;
  border: 1px solid white;
  padding: 15px;
  font-size: 18px;
  margin-top: 5px;
  color: rgb(45, 89, 134);
}

.info-item a.info-link {
  color: rgb(45, 89, 134);
  font-weight: bold;
}

.info-item img {
  margin-left: 10px;
}

.read-link {
  text-align: center;
}

.featured-proj {
  width: 70%;
  padding: 20px;
  border-radius: 10px;
  background: white;
  text-align: center;
  margin-left: 12%;
  margin-top: 50px;
  margin-bottom: 10px;
}

.project-item {
  min-height: 520px;
}

a.project-link {
  display: block;
  color: rgb(0, 76, 153);
  margin-top: 10px;
}

.project-image {
  max-width: 80%;
  height: auto;
}

.controller-link {
  display: block;
  margin-top: 20%;
}

ul.trackers {
  padding: 0
}

.tracker-item {
  display: inline-block;
  width: 12px;
  height:12px;
  border: 1px solid lightblue;
  border-radius: 100px;
  margin-right: 5px;
}

.active-tracker {
  background: lightblue;
}

.left {
  float: left;
  width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-right: 20px solid lightblue;
}

.right {
  float: right;
  width: 0;
	height: 0;
	border-top: 20px solid transparent;
	border-bottom: 20px solid transparent;
	border-left: 20px solid lightblue;
}

@media (max-width: 768px) {
  .brief-desc, .info {
    width: 90%;
    float: none;
}
